@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400;
}
body{
    background-color: #F2F2F2;
}
.container{
    padding-inline: 5rem;
}
.title{
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 7rem;
    padding-bottom: 5rem;
    color: #1D1D1DD1;

}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.card