.card {
    width: calc((100% - 4rem)/3);
    height: 38.8rem;
    border-radius: 1rem;
    padding: 1.2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.cardImg {
    width: 24.3rem;
    height: 18.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cardImg img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}
